PORT=3000
ADMIN_PASSWORD=Yerim
SESSION_SECRET=X23_9fK7mQ2vL8pR4sN6xT1zW5cY0aB3dE7hJ9kM2p
DATABASE_URL=postgresql://roblox_key_api_user:A8qD5PpX9r8Z14ubmx18kiqv1KwfjeO9@dpg-d9soqjifngtc73fop7sg-a/roblox_key_api
